@model IEnumerable<MoshMVC.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>

@if (!Model.Any())
{
    <p> Not Found</p>
    return;
}

<table id="customers" class="table">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Edit</th>
            <th>Modal Detail</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div id="modalDetail" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalDetail-body">
                <h4 id="modalDetail-name"></h4>
                <ul id="modalDetail-list"></ul>
            </div>
            <div class="modal-footer">
                Nothing
            </div>
        </div>
    </div>
</div>

<div id="modalEdit" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
</div>

@section scripts
{
    <script>
        $(function () {
            let table = $('#customers').DataTable({
                ajax: {
                    url: '/api/customers',
                    dataSrc: '',
                },
                columns: [
                    {
                        data: 'Customer',
                        render: function (data, type, customer) {
                            return "<a href='/Customers/detail/" + customer.Id + "'>" + customer.Name + "</a>";
                        }
                    },
                    {
                        data: 'MembershipType.Name'
                    },
                    {
                        data: 'Id',
                        render: function (data) {
                            return "<Button class='btn btn-link js-edit' data-customer-id='" + data + "' data-toggle='modal' data-target='#modalEdit'>Edit</Button>";
                        }
                    },
                    {
                        data: 'Id',
                        render: function (data) {
                            return "<Button class='btn btn-link js-modal-detail' data-customer-id='" + data + "' data-toggle='modal' data-target='#modalDetail'>Detail</Button>";
                        }
                    }
                ]
            });

            $('#customers')
                .on('click', '.js-modal-detail', function () {
                    let $button = $(this);
                    $modalDetailName = $('#modalDetail-name');
                    $modalDetailList = $('#modalDetail-list');
                    $.ajax({
                        url: 'api/customers/' + $button.attr('data-customer-id'),
                        method: 'Get',
                        success: function (data) {
                            console.log(data);
                            $modalDetailName.append($('<h4></h4>').text(data.Name));
                            $modalDetailList.append($('<li></li>').text(data.Id));
                            $modalDetailList.append($('<li></li>').text(data.Name));
                            $modalDetailList.append($('<li></li>').text(data.MembershipType.Name));
                        },
                        error: function (data) {
                            console.log(data);
                        },
                        complete: function () {
                            console.log('complete');
                        }
                    });
                })
                .on('click', '.js-edit', function () {
                    console.log('js edit');
                    let $button = $(this);
                    $.ajax({
                        url: 'customers/EditPartial/' + $button.attr('data-customer-id'),
                        method: 'Get',
                        success: function (data) {
                            //console.log(data);
                            let $modal = $('#modalEdit');
                            $modal.html(data);
                        },
                        error: function () {
                            console.log('error');
                        }
                    })

                });

            // use ajaxStart and ajaxSuccess to control progress bar
            $(document).ajaxStart(function () {
                console.log('ajaxStart');
            }).ajaxSuccess(function () {
                console.log('ajaxSuccess');
            });

            // clear data
            $('#modalDetail').on('hide.bs.modal', function (e) {
                $('#modalDetail-list').empty();
                $('#modalDetail-name').empty();
            });
        });
    </script>
}