@model MoshMVC.Models.Movie
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>
<ul>
    <li>@Model.Genre.Name</li>
    <li>@Model.ReleaseDate.ToShortDateString()</li>
    <li>@Model.DateAdded.ToShortDateString()</li>
    <li>@Model.NumberInStock</li>
</ul>
