@model IEnumerable<MoshMVC.Models.Movie> 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movie</h2>

<input type="button" value="New" class="btn btn-primary"
       onclick="location.href='@Url.Action("New", "Movies")'" />
<br />


@if (!Model.Any())
{
    <p>
        No Records.
    </p>
    return;
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>MovieName</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
        <tr>
            @*<td>@Html.ActionLink(movie.Name, "Detail", "Movies", new { id = movie.Id }, null)</td>*@
            <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)</td>
            <td>@movie.Genre.Name</td>
        </tr>
        }
    </tbody>
</table>

