@model IEnumerable<MoshMVC.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movie</h2>

<input type="button" value="New" class="btn btn-primary"
       onclick="location.href='@Url.Action("New", "Movies")'" />
<br />




<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>MovieName</th>
            <th>Genre</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


@section scripts
{
    <script>
        $(function () {
            $('#movies').DataTable({
                ajax: {
                    url: '/api/movies',
                    dataSrc: '',
                },
                columns: [
                    {
                        data: 'Name',
                        render: function (data, type, movie) {
                            return "<a href='/movies/edit/" + movie.Id + "'>" + movie.Name + "</a>";
                        }
                    },
                    {
                        data: 'Name'
                    },
                    {
                        data: 'Id',
                        render: function (data) {
                            return "<Button class='btn-link js-delete' data-movie-id=" + data + ">Delete</Button>";
                        }
                    }
                ]
            });

            $('#movies').on('click', '.js-delete', function () {
                var button = $(this);
                bootbox.confirm('Are you sure to delete this movie?', function (result) {
                    if (result) {
                        $.ajax({
                            url: 'api/movies/' + button.attr('data-movie-id'),
                            method: "DELETE",
                            success: function () {
                                bootbox.alert('success');
                                button.parents('tr').remove();
                            },
                            error: function () {
                                bootbox.alert("failed");
                            }
                        });
                    }
                });
            });
        });
    </script>
}